* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-color: rgb(0, 0, 0);
  overflow: hidden;
}

.container {
  width: 20em;
  background-color: rgb(255, 255, 255);
  overflow: hidden;
  border-radius: 1em;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-size: 1em;
  margin: 200px auto 0px auto;
}

.user-image {
  padding: 3em 0;
  background-image: linear-gradient(70deg, #61a1dd, #0083fd);
}

.user-image img {
  width: 7em;
  height: 7em;
  border-radius: 50%;
  box-shadow: 0 0.6em 1.8em;
  object-fit: cover;
}

.content {
  background-color: ghostwhite;
  color: #565656;
  padding: 2.2em;
}

.name {
  font-size: 1.5em;
  text-transform: uppercase;
}

.username {
  font-size: 1em;
  color: #9e9e9e;
}

.links {
  margin: 1.5em 0;
}

a {
  text-decoration: none;
  color: #565656;
  font-size: 2em;
  margin-right: 1em;
}

a:last-child {
  margin: 0;
}

.insta i:hover {
  color: rgb(255, 70, 101);
  transform: scale(2);
}

.git i:hover {
  color: rgb(0, 0, 0);
  transform: scale(2);
}

.linkedin i:hover {
  color: rgba(4, 0, 253, 0.842);
  transform: scale(2);
}

.facebook i:hover {
  color: rgb(4, 0, 255);
  transform: scale(2);
}

.details {
  margin-bottom: 1.8em;
}

.effect {
  text-align: center;
  display: inline-block;
  position: relative;
  text-decoration: none;
  color: rgb(48, 41, 41);
  text-transform: capitalize;
  width: 100%;
  background-image: linear-gradient(70deg, #61a1dd, #0083fd);
  font-size: 1.2em;
  padding: 1em 3em;
  border-radius: 5em;
  overflow: hidden;
}

.effect i {
  font-size: 1.5em;
  display: none;
}

.effect:hover span {
  display: none;
}

.effect:hover i {
  display: block;
}
